{{# if isPending }}
  <span class='{{ pendingClassName }}'>{{ fa-icon 'circle-o-notch' spin=true }} {{ pendingText }}</span>
{{ else if isConfirming }}
  <span class='{{ confirmationClassName }}'>{{ fa-icon 'check-circle' }} {{ confirmationText }}</span>
{{ else }}
  {{ yield }}
{{/ if }}