<div>
  <button {{action 'startTask'}}>Start Task</button>
  <button {{action 'resolve'}}>Resolve</button>
  <button {{action 'reject'}}>Reject</button>
</div>
{{#animated-status-label taskInstance=testTaskInstance as |labelState|}}
  {{#if (eq labelState 'settled')}}
    settled
  {{else if (eq labelState 'confirming')}}
    confirming
  {{else if (eq labelState 'pending')}}
    pending...
  {{/if}}
{{/animated-status-label}}