<div>
  <button type="button" {{on "click" this.startTask}}>Start Task</button>
  <button type="button" {{on "click" this.resolve}}>Resolve</button>
  <button type="button" {{on "click" this.reject}}>Reject</button>
</div>
<AnimatedStatusLabel @promise={{this.deferred.promise}} as |label|>
  {{#if label.isSettled}}
    settled
  {{else if label.isConfirming}}
    confirming
  {{else if label.isPending}}
    pending...
  {{/if}}
</AnimatedStatusLabel>